<form class="form-horizontal" ng-submit="AddController.addTask()">
	<div class="form-group">
		<label for="add-project" class="col-xs-3 control-label">Project name</label>
		<div class="col-xs-9">
			<input
				ng-model="project"
				type="text"
				name="add-project"
				id="add-project"
				class="form-control"
				placeholder="Project name"
				autocomplete="off"
			/>
		</div>
	</div>
	<div class="form-group">
		<label for="add-task" class="col-xs-3 control-label">Task name</label>
		<div class="col-xs-9">
			<input
				ng-model="task"
				type="text"
				name="add-task"
				id="add-task"
				class="form-control"
				placeholder="Task name"
				autocomplete="off"
			/>
		</div>
	</div>
	<div class="form-group">
		<div class="col-xs-12 text-center">
			<a type="reset" class="btn btn-default" href="#/">Cancel</a>
			<button type="submit" class="btn btn-primary">Add Task</button>
		</div>
	</div>
</form>