<div>
	popup controller TODO
	list tasks
</div>

<div id="holder">
	<div id="content">

		<!-- list of tasks -->
		<div id="form-list" class="form"></div>

		<!-- update form -->
		<div id="form-update" class="form" style="display: none">
			<input type="hidden" name="task-id" id="task-id" value=""/>
			<p>
				<label for="task-project-name">Project name</label>
				<input type="text" name="task-project-name" id="task-project-name" class="text"/>
			</p>
			<p>
				<label for="task-name">Task name</label>
				<input type="text" name="task-name" id="task-name" class="text"/>
			</p>
			<p>
				<label for="task-time">Task time (sec)</label>
				<input type="text" name="task-time" id="task-time" class="text"/>
			</p>
			<p class="buttons">
				<input type="button" id="button-update" value="Update"/>
				<input type="button" id="form-update.cancel-button" class="cancel" rel="form-update" value="Cancel"/>
			</p>
			<p style="display: none" id="update-status"></p>
		</div>

		<!-- remove confirm -->
		<div id="form-remove" class="form" style="display: none">
			<p id="remove-confirm" class="remove-confirm"></p>
			<p class="buttons">
				<input type="button" id="button-remove" value="Delete"/>
				<input type="button" id="form-remove.cancel-button" class="cancel" rel="form-remove" value="Cancel"/>
			</p>
		</div>

		<!-- Delete all confirm -->
		<div id="form-remove-all" class="form" style="display: none">
			<p id="remove-all-confirm" class="remove-confirm">Are you sure you want to <strong>delete all tasks</strong>?</p>
			<p class="buttons">
				<input type="button" id="button-remove-all" value="Yes"/>
				<input type="button" id="form-remove-all.cancel-button" class="cancel" rel="form-remove-all" value="Cancel"/>
			</p>
		</div>
	</div>
</div>